<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table border="3" style="border-collapse: collapse; width: 500px; height: 100px">
    <tr>
        <th>编号</th>
        <th>书名</th>
        <th>日期</th>
        <th>阅读量</th>
        <th>评论量</th>
    </tr>
    {% for book in blist %}
        <tr>
        <td>{{ book.id }}</td>
        <td>{{ book.btitle }}</td>
        <td>{{ book.bpub_date }}</td>
        <td>{{ book.bread }}</td>
        <td>{{ book.bcomment }}</td>
        </tr>
    {% endfor %}
</table>
</body>
</html>